html, body {
	padding:0;
	margin:0;
	height:100%;
}

.container {
	position:relative;
	min-height:100%;
}

.content {
	padding:10px;
	padding-bottom:60px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

nav {
	text-align:center;
	background-color: royalblue;
	margin-top: 50px;
	margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
	border-radius: 10px;
	 
}


footer {
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
	height:60px;
}

footer ul li {
	color:grey;
	font-size:11px;
	display:block;
	padding:0px 20px 0px 20px;
}

ul {
	display:inline-block;
}

li {
	float:left;
	list-style-type:none;
}

li a {
	color:white;
	text-decoration:none;
	display:block;
	padding: 10px 20px 10px 20px;
	font: bold 15px Verdana;
}




nav ul li a:hover {
	color: lightblue;
}

.intro {
	background-color:#80aef7;
	text-align:center;
	padding:5px;
}

tr td img {
	width:250px;
	height:auto;
}

td {
	padding:15px;
	border:2px solid black;
	text-align:center;
}

.producten {
	margin:0 auto;
}

.contactform {
	margin:0 auto;
	width:300px;	
}
