doctype html
html
	head
		title Over Koleon
		link(rel='stylesheet', type='text/css', href='stylesheets/stylesheet.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Aldrich')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Abel')
		meta(name='description', content='De geschiedenis van Koleon.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='keywords', content='Laptop, Koleon, op maat, hardware, CPU, GPU, customised, customized, pc, computer, memes, Harambe')
		meta(name='author', content='Koleon')
		meta(name='copyright', content='© 2017 Koleon')
		meta(name='content-language', content='nl')
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(http-equiv='default-style', content='stylesheets/stylesheet.css')
		meta(name='robots', content='index, follow')
		link(rel='icon', href='images/icon.png', sizes='256x172', type='image/png')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='javascripts/generic.js', defer='')
		script(src='javascripts/overons.js')
		script(src='javascripts/comments.js', defer='')
		script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')
		link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
		script(src='https://cdn.jsdelivr.net/jquery.ui-contextmenu/1.14.0/jquery.ui-contextmenu.min.js')
	body
		.container
			nav
				if typeof userID === "undefined"
					button.startLogin(onclick="document.getElementById('loginModal').style.display='block'") Log in
					button.startRegistration(onclick="document.getElementById('registerModal').style.display='block'") Registreer
				else
					a.goToProfile(href="mijnprofiel.html") Mijn profiel
					button.logout Log uit
				ul
					li
						img#logo(alt='koleon logo', src='images/logo_koleon.png')
					li
						a(href='index.html') Koleon
					li
						a(href='producten.html') Producten
					li
						a(href='diensten.html') Laptop Samenstellen
					li
						a(href='contact.html') Contact
					li
						a(href='overons.html') Over Koleon
				a(href='winkelmandje.html')
					img(src='images/shopping-cart-white.png', alt='shopping cart', id='wínkelmandje')
					#shoppingCartNumber 0
			section.content.overons
				// login modal
				#loginModal.modal
					span.close(onclick="document.getElementById('loginModal').style.display='none'", title='Close Modal') ×
					// Modal Content
					form.modal-content.animate(method='post')
						.modal-header
							h1 Log in
						.modal-container
							label
								b Gebruikersnaam
							input#username(type='text', placeholder='Vul gebruikersnaam in..', name='username', required='', autofocus)
							label
								b Wachtwoord
							input(type='password', placeholder='Vul wachtwoord in..', name='password', required='')
							button.loginbutton(type='submit') Log in
							input(type='checkbox', name='remember' checked='checked')
							|	Onthoud mij
						.modal-container(style='background-color:#f1f1f1')
							button.cancelbtn(type='button', onclick="document.getElementById('loginModal').style.display='none'") Annuleren
							span.psw
								a(href='#') Wachtwoord vergeten?
				#registerModal.modal
					span.close(onclick="document.getElementById('registerModal').style.display='none'", title='Close Modal') ×
					// Modal Content
					form.modal-content.animate(method='post')
						.modal-header
							h1 Registreren
						.modal-container
							label
								b Gebruikersnaam
							input#username(type='text', placeholder='Vul gebruikersnaam in..', name='username', required='', autofocus)
							label
								b Wachtwoord
							input#password(type='password', placeholder='Vul wachtwoord in..', name='password', required='')
							label
								b Bevestig wachtwoord
							input#confirm_password(type='password', placeholder='Bevestig wachtwoord', name='confirm_password', required='')
							label
								b Voornaam
							input(type='text', placeholder='Vul uw voornaam in..', name='firstName', required='')
							label
								b Achternaam
							input(type='text', placeholder='Vul uw achternaam in..', name='lastName', required='')
							label
								b Adres
							input(type='text', placeholder='Vul uw woonplaats in..', name='address', required='')
							label
								b Postcode
							input(type='text', placeholder='Vul uw postcode in..', name='postalCode', required='')
							label
								b Ik ben een
							select(name='userType' required)
								option(value='RB') Koper
								option(value='RS') Verkoper
							button.loginbutton(type='submit') Registreer
						.modal-container(style='background-color:#f1f1f1')
							button.cancelbtn(type='button', onclick="document.getElementById('registerModal').style.display='none'") Cancel
							span.psw
								a(href='#') Wachtwoord vergeten?
				h1 Oprichting 
				|             Harambe 
				br
				|             1999 - 2016 
				br
				img(src='images/Harambe.jpg', alt='this is harambe')
				p
					| Koleon werd opgericht in 2016 in herdenking van de aap Harambe. 
					br
					|                Harambe was een uitgesproken activist in de gaming industrie die vond dat gamen ook op laptops gewoon moest kunnen. 
					br
					|                Hierom wordt Harambe ook wel gezien als spirituele oprichter van Koleon, dat technisch gezien opgericht is door Koen en Leon. 
					br
					br
				h2 Ons doel 
				p
					| Wij van Koleon streven naar het mobiliseren van gaming door de klant te verbinden met de beste gaming laptops voor het minste geld. 
					br
					|                Tot dusver hebben we al 0 klanten bereikt met ons streven, en we verwachten dat dit de komende jaren zal groeien met 1136 procent. 
					br
					|                Dit betekent dat in 2020 maar liefst 0 klanten de beste gaming laptops voor het minste geld ontvangen hebben.
				#map
				#legend
					h3 Legend
				article.commentsArticle
					.container_comments
						h2 Comments 
						form(onsubmit='event.preventDefault();')
							input#nickname(type='text', placeholder='Nickname')
							input#commentBox(type='text', placeholder='Comment')
							button#sendComment  Verstuur 
						br
						p#commentText No comments yet
			footer
				ul
					li
						a(href='') Algemene voorwaarden
					li
						a(href='') Cookies
					li
						a(href='') Privacy
					li
						a(href='') Carrière
					li
						a(href='') Over Koleon
				br
				a(href='https://www.w3schools.com/', target='_blank', style='margin-right:-100px') Deze site is mogelijk gemaakt door w3schools
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC7nSkYhgNYQ_8yybsYIEpQrJ8GZKS2c2I&callback=initMap', async='', defer='')
