doctype html
html
	head
		title Winkelmandje
		link(rel='stylesheet', type='text/css', href='stylesheets/stylesheet.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Aldrich')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Abel')
		meta(name='description', content='Vind hier uw gekozen producten terug. Vandaag besteld, morgen in huis.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='keywords', content='Laptop, Koleon, op maat, hardware, CPU, GPU, customised, customized, pc, computer, memes, Harambe')
		meta(name='author', content='Koleon')
		meta(name='copyright', content='© 2017 Koleon')
		meta(name='content-language', content='nl')
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(http-equiv='default-style', content='stylesheets/stylesheet.css')
		meta(name='robots', content='index, follow')
		link(rel='icon', href='images/icon.png', sizes='256x172', type='image/png')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='javascripts/generic.js', defer='')
		script(src='javascripts/winkelmandje.js', defer='')
		script(src='javascripts/comments.js', defer='')
		link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
		script(src='https://cdn.jsdelivr.net/jquery.ui-contextmenu/1.14.0/jquery.ui-contextmenu.min.js')
	body
		.container
			nav
				if typeof userID === "undefined"
					button.startLogin(onclick="document.getElementById('loginModal').style.display='block'") Log in
					button.startRegistration(onclick="document.getElementById('registerModal').style.display='block'") Registreer
				else
					a.goToProfile(href="mijnprofiel.html") Mijn profiel
					button.logout Log uit
				ul
					li
						img#logo(alt='koleon logo', src='images/logo_koleon.png')
					li
						a(href='index.html') Koleon
					li
						a(href='producten.html') Producten
					li
						a(href='diensten.html') Laptop Samenstellen
					li
						a(href='contact.html') Contact
					li
						a(href='overons.html') Over Koleon
				a(href='winkelmandje.html')
					img(src='images/shopping-cart-white.png', alt='shopping cart', id='wínkelmandje')
					#shoppingCartNumber 0
			section.content
				h2.w3-warning W3
				// login modal
				#loginModal.modal
					span.close(onclick="document.getElementById('loginModal').style.display='none'", title='Close Modal') ×
					// Modal Content
					form.modal-content.animate(method='post')
						.modal-header
							h1 Log in
						.modal-container
							label
								b Gebruikersnaam
							input#username(type='text', placeholder='Vul gebruikersnaam in..', name='username', required='', autofocus)
							label
								b Wachtwoord
							input(type='password', placeholder='Vul wachtwoord in..', name='password', required='')
							button.loginbutton(type='submit') Log in
							input(type='checkbox', name='remember' checked='checked')
							|	Onthoud mij
						.modal-container(style='background-color:#f1f1f1')
							button.cancelbtn(type='button', onclick="document.getElementById('loginModal').style.display='none'") Annuleren
							span.psw
								a(href='#') Wachtwoord vergeten?
				#registerModal.modal
					span.close(onclick="document.getElementById('registerModal').style.display='none'", title='Close Modal') ×
					// Modal Content
					form.modal-content.animate(method='post')
						.modal-header
							h1 Registreren
						.modal-container
							label
								b Gebruikersnaam
							input#username(type='text', placeholder='Vul gebruikersnaam in..', name='username', required='', autofocus)
							label
								b Wachtwoord
							input#password(type='password', placeholder='Vul wachtwoord in..', name='password', required='')
							label
								b Bevestig wachtwoord
							input#confirm_password(type='password', placeholder='Bevestig wachtwoord', name='confirm_password', required='')
							label
								b Voornaam
							input(type='text', placeholder='Vul uw voornaam in..', name='firstName', required='')
							label
								b Achternaam
							input(type='text', placeholder='Vul uw achternaam in..', name='lastName', required='')
							label
								b Adres
							input(type='text', placeholder='Vul uw woonplaats in..', name='address', required='')
							label
								b Postcode
							input(type='text', placeholder='Vul uw postcode in..', name='postalCode', required='')
							label
								b Ik ben een
							select(name='userType' required)
								option(value='RB') Koper
								option(value='RS') Verkoper
							button.loginbutton(type='submit') Registreer
						.modal-container(style='background-color:#f1f1f1')
							button.cancelbtn(type='button', onclick="document.getElementById('registerModal').style.display='none'") Cancel
							span.psw
								a(href='#') Wachtwoord vergeten?
				div(style='overflow-x:auto;')
					table#productentabel
						tbody
							tr
								td	Product		
								td	Omschrijving	
								td
									| Prijs
				button#afrekenen Afrekenen!
				#afrekenBevestiging.modal
					.modal-content
						.modal-header
							span.close ×
							br(style='clear:both')
						.modal-body
							p Weet je zeker dat je deze producten wilt afrekenen?
							button#nietBevestigen Nee
							button#welBevestigen Ja
							br(style='clear:both')
						.modal-footer
							br(style='clear:both')
				#myModal.modal
					.modal-content
						.modal-header
							span.close ×
							h2#modalheadertext Modal Header
						.modal-body
							img#modalimg(src='javascript:void(0)', alt='modalimg')
							p#modaltext Some text in the Modal Body
							br(style='clear:both;')
						.modal-footer
							button#modalbestel Verwijder uit winkelmandje
							br(style='clear:both;')
				article.commentsArticle
					.container_comments
						h2 Comments 
						form(onsubmit='event.preventDefault();')
							input#nickname(type='text', placeholder='Nickname')
							input#commentBox(type='text', placeholder='Comment')
							button#sendComment	Verstuur 
						br
						p#commentText No comments yet
			footer
				ul
					li
						a(href='') Algemene voorwaarden
					li
						a(href='') Cookies
					li
						a(href='') Privacy
					li
						a(href='') Carrière
					li
						a(href='') Over Koleon
				br
				a(href='https://www.w3schools.com/', target='_blank', style='margin-right:-100px;') Deze site is mogelijk gemaakt door w3schools